<div class="container pt-3">
     <div class="row">
          <div class="card item" >
               <img src="https://apollo-singapore.akamaized.net/v1/files/59fj6n9p8k073-IN/image;s=780x0;q=60" class="card-img-top" alt="...">
               <div class="card-body">
                    <h5 class="card-title">240,000</h5>
                    <p class="card-text">2015- 87000km <br>best car in the world </p>
                    <p class="text-end">Nov 12</p>
               </div>
          </div>
     </div>
</div>