button{
     border-width: 3px;
     background-color: white;
     border-color: solid #002f34;
     padding: 10px;
     border-radius: 10%;
     box-sizing: border-box;
     width: 10%;
}
button:hover{
     border:6px solid black;
}
div{
     align-content: center;
}